root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf
charset = utf-8
# Editor guidelines (pharring/EditorGuidelines extension)
guidelines = 80

[*.sln]
indent_style = tab
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
